:root {
    --background: rgb(250, 250, 250);
    --secondaryBackground: rgb(211, 211, 211);
    --mainText: rgb(66, 104, 255);
    --secondaryText: rgb(0, 0, 0);
    --icon: rgb(62, 162, 157);
    --iconHover: rgb(44, 206, 198);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    --scroll-behavior: smooth;
}

body {
    font-size: calc(10px + (24 - 10) * ((100vw - 150px) / (900 - 150)));
}

/* h1 {
    font-size: 1.8em;
    font-weight: 500;
}

h2 {
    font-size: 1.7em;
    font-weight: 500;
}

h3 {
    font-size: 1.3em;
}

p {
    font-size: 1em;
} */

@media screen and (min-width: 330px) {
    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1em;
    }

    h2 {
        font-size: 2em;
    }
}
@media screen and (min-width: 600px) {
    header h1 {
        font-size: 3em;
    }
    header p {
        font-size: 1.3em;
    }
}
@media screen and (min-width: 900px) {
    body {
        font-size: 24px;
    }
}

body {
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    text-align: left;
    background-color: var(--background);
    transition: background-color 150ms linear;
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "about-content"
        "skills-content"
        "projects-content"
        "contact-content"
        "theme-content"
        "return-content"
        "footer";
}

header {
    grid-area: header;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    background-color: var(--secondaryBackground);
}

header h1 {
    margin-block-start: 0.33em;
    margin-block-end: 0em;
}
header p {
    margin-block-start: 0.33em;
    margin-block-end: 0.33rem;
}

header .button {
    margin-block-start: 1em;
    margin-block-end: 0.33em;
}

.button {
    color: white;
    text-decoration: none;
    background-color: var(--icon);
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 5px;
    display: inline-block;
    transition: all 100ms ease 0s;
    user-select: none;
}

@media (hover: hover) {
    .button:hover {
        background-color: var(--iconHover);
        color: white;
        letter-spacing: 1px;
        box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
        transition: all 100ms ease 0s;
    }
}

#about-content {
    grid-area: about-content;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    padding-right: 10%;
}

#skills-content {
    grid-area: skills-content;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    padding-right: 10%;
}

#skills-lists {
    display: grid;
    grid-gap: 1.5em;
    max-width: 600px;
    grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 700px) {
    #skills-lists {
        max-width: 400px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 300px) {
    #skills-lists {
        max-width: 200px;
        grid-template-columns: repeat(1, 1fr);
    }
}

#projects-content {
    grid-area: projects-content;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    padding-right: 10%;
}

.project {
    margin-bottom: 80px;
}

.project:last-child {
    margin-bottom: 0px;
}

#contact-content {
    grid-area: contact-content;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    padding-right: 10%;
}

#theme-content {
    grid-area: theme-content;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    padding-right: 10%;
}

#theme-select-wrapper {
    display: flex;
    justify-content: left;
}

.theme-select {
    height: 30px;
    width: 50px;
    border-radius: 10%;
    margin-right: 30px;
    border: 2px solid rgb(151, 151, 151);
    cursor: pointer;
    transition: 100ms linear;
}

@media (hover: hover) {
    .theme-select:hover {
        border-width: 5px;
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 270px) {
    .theme-select {
        margin-right: 3px;
    }
}

#light-theme-select {
    background-color: rgb(250, 250, 250);
}

#dark-theme-select {
    background-color: rgb(33, 33, 33);
}

#return-content {
    grid-area: return-content;
    text-align: center;
    padding-top: 6em;
    padding-bottom: 2em;
}

footer {
    grid-area: footer;
    text-align: center;
    margin-top: auto;
    padding-top: 75px;
    padding-bottom: 0.5em;
    clip-path: polygon(0 0, 100% 35%, 100% 100%, 0% 100%);
    background-color: var(--secondaryBackground);
}

#up-arrow-link {
    font-size: 65px;
    transform: rotate(270deg);
    transition: 100ms linear;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    display: inline-block;
}

@media (hover: hover) {
    #up-arrow-link:hover {
        transform: rotate(270deg) scale(1.3);
        color: var(--iconHover);
    }
}

h1,
h2 {
    color: var(--mainText);
    font-weight: 500;
}

h3,
h4,
h5,
h6,
p,
li,
label,
input,
textarea {
    color: var(--secondaryText);
}

i,
a,
span {
    color: var(--icon);
}

ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
}

i {
    font-size: 32px !important;
    margin-right: 30px;
    transition: 50ms linear;
}

@media (hover: hover) {
    i:hover {
        transform: scale(1.1);
        color: var(--iconHover);
    }
}

@media only screen and (max-width: 270px) {
    i {
        font-size: 25px !important;
        margin-right: 5px;
    }
}

:focus {
    outline: 0 !important;
}
