:root {
    --backgroundColor: rgb(255, 255, 255);
    --mainText: rgb(66, 104, 255);
    --secondaryText: rgb(0, 0, 0);
    --iconBrightness: brightness(130%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

h1,
h2,
i {
    color: var(--mainText);
    font-weight: 500;
}

h3,
h4,
h5,
h6,
p,
li,
span,
label,
input,
textarea {
    color: var(--secondaryText);
}

body {
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1300 - 300)));
}

@media screen and (min-width: 1300px) {
    body {
        font-size: 22px;
    }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
    body {
        font-size: 15px;
    }

    #skills-content {
        padding-top: 120px;
    }
}

body {
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    text-align: left;
    background-color: var(--backgroundColor);
    transition: background-color 0.15s linear;

    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
        "landing-page"
        "skills-content"
        "projects-content"
        "contact-content"
        "theme-content"
        "footer";
}

#landing-page {
    grid-area: landing-page;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

@media only screen and (min-height: 1200px) {
    #landing-page {
        height: auto;
    }
}

#skills-content {
    grid-area: skills-content;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

#skills-content h2 {
    margin-top: 0px;
}

#projects-content {
    grid-area: projects-content;
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

.project {
    margin-top: 50px;
    margin-bottom: 80px;
}

#contact-content {
    grid-area: contact-content;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

#theme-content {
    grid-area: theme-content;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

i {
    font-size: 32px !important;
    margin-right: 30px;
    transition: 0.1s linear;
    filter: var(--iconBrightness);
}

i:hover {
    transform: scale(1.1);
    filter: brightness(100%) !important;
}

footer {
    grid-area: footer;
    text-align: center;
    margin-top: auto;
    padding-top: 150px;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
}

h2 {
    font-size: 2em;
    font-weight: 500;
}

#about-content p {
    font-size: 1.3em;
}

@media only screen and (max-width: 800px) {
    #about-content p {
        font-size: 1em;
    }
}

h3 {
    font-size: 1.3em;
}

ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 40px;
}

#skills-lists {
    display: grid;
    grid-gap: 1.5em;
    max-width: 600px;
    grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 700px) {
    #skills-lists {
        max-width: 400px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 300px) {
    #skills-lists {
        max-width: 200px;
        grid-template-columns: repeat(1, 1fr);
    }
}

#theme-select-wrapper {
    display: flex;
    justify-content: left;
}

.theme-select {
    height: 30px;
    width: 50px;
    border-radius: 10%;
    margin: 0px 30px 0px 0px;
    border: 2px solid rgb(151, 151, 151);
    cursor: pointer;
    transition: 0.1s linear;
}

.theme-select:hover {
    border-width: 3px;
    transform: scale(1.1);
}

#light-mode {
    background-color: rgb(255, 255, 255);
}

#dark-mode {
    background-color: rgb(33, 33, 33);
}

:focus {
    outline: 0 !important;
}
