* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Heebo", sans-serif;
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "about-heading"
        "about-content"
        "skills-heading"
        "skills-content"
        "projects-heading"
        "projects-content"
        "contact-heading"
        "contact-content"
        "footer";
}

header {
    grid-area: header;
    text-align: center;
}

header h1 {
    font-size: 40px;
    color: rgb(37, 81, 211);
    margin-bottom: 5px;
}

h2 {
    color: rgb(33, 78, 214);
    margin-block-end: 0px;
    margin-block-start: 40px;
}

p {
    font-size: 18px;
}

#about-heading {
    grid-area: about-heading;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

#about-content {
    grid-area: about-content;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

#about-content-text p {
    font-size: 24px;
}

#about-content-text p {
    margin: 10px 0px 10px 0px;
}

#skills-heading {
    grid-area: skills-heading;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

#skills-content {
    grid-area: skills-content;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

#projects-heading {
    grid-area: projects-heading;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

#projects-content {
    grid-area: projects-content;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

#contact-heading {
    grid-area: contact-heading;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

#contact-content {
    grid-area: contact-content;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 16px;
}

#contact-content a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#contact-content i {
    padding-right: 20px;
    color: rgb(37, 81, 211);
}

footer {
    grid-area: footer;
    text-align: center;
}

footer p {
    margin-block-start: 50px;
}
