/* The values for the root CSS variables are set. */
:root {
    --background: rgb(250, 250, 250);
    --mainText: rgb(66, 104, 255);
    --secondaryText: rgb(0, 0, 0);
    --icon: rgb(62, 162, 157);
    --iconHover: rgb(44, 206, 198);
}

* {
    box-sizing: border-box;
}

/* Font size is made responsive to the width of the page using the formula shown */
html {
    overflow-x: hidden;
    height: 100vh;
    -webkit-text-size-adjust: 100%;
    font-size: calc(17px + (24 - 17) * (100vw - 300px) / (1300 - 300));
}

/*  */
body {
    overflow-x: hidden;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: left;
    min-height: 100%;
    width: 100%;
    margin: 0;
    line-height: 1.7;
    background-color: var(--background);
    transition: background-color 150ms linear;
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "about-content"
        "skills-content"
        "projects-content"
        "contact-content"
        "theme-content"
        "footer";
}

@media screen and (min-width: 1300px) {
    html {
        font-size: 24px;
    }
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

h1,
h2 {
    color: var(--mainText);
    font-weight: 500;
}

h3,
h4,
h5,
h6,
p,
li,
label,
input,
textarea {
    color: var(--secondaryText);
}

i,
a,
span {
    color: var(--icon);
}

ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
}

i {
    font-size: 32px !important;
    margin-right: 30px;
    transition: 10ms linear;
}

@media (hover: hover) {
    i:hover {
        transform: scale(1.1);
        color: var(--iconHover);
    }
}

@media only screen and (max-width: 270px) {
    i {
        margin-right: 5px;
        font-size: 24px !important;
    }
}

:focus {
    outline: 0 !important;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
}

header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

header p {
    font-size: 0.9rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (min-width: 340px) {
    header h1 {
        font-size: 2rem;
    }
    header p {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 380px) {
    header h1 {
        font-size: 2.3rem;
    }
    header p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 420px) {
    header h1 {
        font-size: 2.5rem;
    }
    header p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 500px) {
    header h1 {
        font-size: 3rem;
    }
    header p {
        font-size: 1.3rem;
    }
}

@media screen and (max-height: 360px) {
    header h1,
    header p,
    header {
        justify-content: space-around;
    }
}

#about-content {
    grid-area: about-content;
    padding-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

#skills-content {
    grid-area: skills-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

#skills-lists {
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

@media only screen and (max-width: 900px) {
    #skills-lists {
        max-width: 600px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.5rem;
    }
}

@media only screen and (max-width: 600px) {
    #skills-lists {
        max-width: 400px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }
}

@media only screen and (max-width: 360px) {
    #skills-lists {
        max-width: 200px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
}

#projects-content {
    grid-area: projects-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

.project {
    margin-bottom: 80px;
}

.project:last-child {
    margin-bottom: 0px;
}

#contact-content {
    grid-area: contact-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

#theme-content {
    grid-area: theme-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

#theme-select-wrapper {
    display: flex;
    justify-content: left;
}

.theme-select {
    height: 30px;
    width: 50px;
    border-radius: 10%;
    margin-right: 30px;
    border: 2px solid rgb(151, 151, 151);
    cursor: pointer;
    transition: 100ms linear;
}

@media (hover: hover) {
    .theme-select:hover {
        border-width: 3px;
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 270px) {
    .theme-select {
        margin-right: 5px;
    }
}

#light-theme-select {
    background-color: rgb(250, 250, 250);
}

#dark-theme-select {
    background-color: rgb(33, 33, 33);
}

footer {
    grid-area: footer;
    text-align: center;
    margin-top: auto;
    padding-top: 6rem;
    padding-bottom: 0.5rem;
    padding-left: 10%;
    padding-right: 10%;
}
